.DS_Store
node_modules
nuxt.config.js
/dist
/pages
/components
/plugins
/store
/layouts
/mixins
/hooks
/utils
/config

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-lock.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
app.html
*.sw?

