* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Helvetica,Pingfang SC,Microsoft YaHei,STHeiti,Verdana,Arial,Tahoma, '思源黑体 CN Regular', 'Source Han Sans CN Regular', sans-serif;
  }

  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #f5f5f5;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .hidden-scroll, html, body {
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
      height: 0 !important;
    }

    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style:none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
  }
  .el-button.el-button--text{
    color: #09236C !important;
    padding: 0;
  }
  .el-button--primary{
    background-color: #09236C !important;
    border-color: #09236C !important;
  }
  .el-breadcrumb__inner.is-link:hover {
    color: #133ba0 !important;
}
  .max-width {
    width: 100%;
  }

  .max-height {
    height: 100%;
  }

  .clear-flex {
    flex: initial !important;
  }

  .p-relative {
    position: relative;
  }

  .p-fixed {
    position: fixed;
  }

  .p-absolute {
    position: absolute !important;
  }

  .ju-center {
    justify-content: center;
  }

  .flex{
      display: flex;
  }

  .flex-a-c{
      align-items: center;
  }

  .flex-j-c{
      justify-content: center;
  }
  .flex-column{
      flex-direction: column;
  }
  .flex-a-start{
      align-items: flex-start;
  }
  .flex-a-end{
      align-items: flex-end;
  }

  .flex-j-start{
      justify-content: flex-start;
  }
  .flex-j-end{
      justify-content: flex-end;
  }

  .flex-bw{
      justify-content: space-between;
  }
  .flex-shrink{
      flex-shrink: 0;
  }
  .flex-wrap{
      flex-wrap: wrap;
  }
  .fit-cover{
      object-fit: cover;

  }
  .cursor-pointer{
      cursor: pointer;
  }
  .font11 {
    font-size: 11px;
  }

  .font12 {
    font-size: 12px;
  }

  .font14 {
    font-size: 14px;
  }

  .font16 {
    font-size: 16px !important;
  }

  .font18 {
    font-size: 18px;
  }

  .font20 {
    font-size: 20px;
  }

  .font24 {
    font-size: 24px;
  }

  .font28 {
    font-size: 28px;
  }

  .font50 {
    font-size: 50px !important;
  }

  .fontb {
    font-weight: bold !important;
  }

  .fontn {
    font-weight: normal;
  }

  .pointer {
    cursor: pointer;
  }

  .colb {
    color: #38f
  }

  .colr {
    color: #EB3B5C
  }

  .col2 {
    color: #222 !important;
  }

  .col9 {
    color: #999;
  }

  .colg {
    color: #BABABA;
  }

  .colf {
    color: #fff !important;
  }

  .colp {
    color: #A0A7BE
  }

  .col3 {
    color: #333
  }

  .color-4B4B4B{color: #4B4B4B;}
  .color-8B8B8B{color: #8B8B8B;}
  .color-383838{ color: #383838;}
  .color-2C3645{ color: #2C3645;}
  .color-5E5E5E{ color: #5E5E5E;}
  .color-A6A6A6{ color: #A6A6A6;}
  .color-2C2C2C{ color: #2C2C2C;}
  .color-242424{ color: #242424;}
  .color-181818{ color: #242424;}
  .color-1C222B{ color: #1C222B;}
  .color-13161B{ color: #13161B;}


  .icon28{
    width: 28px;
    height: 28px;
  }

  .left {
    float: left;
  }

  .tright {
    text-align: right;
  }

  .ovh {
    overflow: hidden;
  }

  .right {
    float: right;
  }

  .center {
    text-align: center;
  }

  .bgf {
    background: #fff
  }

  .bg {
    background: #f9f9f9
  }

  .bgg {
    background: #f8f8f8
  }

  .pd1 {
    padding: 10px;
  }

  .pd2 {
    padding: 20px;
  }

  .pd3 {
    padding: 30px;
  }

  .pdlr1 {
    padding: 0 10px !important;
  }

  .pdlr2 {
    padding: 0 20px;
  }

  .pdr2 {
    padding-right: 20px !important;
  }

  .pdlr3 {
    padding: 0 30px;
  }

  .pb5 {
    padding-bottom: 50px;
  }

  .mg1 {
    margin: 10px;
  }

  .mt {
    margin-top: 5px;
  }

  .mt1 {
    margin-top: 10px;
  }

  .mt2 {
    margin-top: 20px;
  }

  .mt3 {
    margin-top: 30px;
  }

  .mt5 {
    margin-top: 50px;
  }

  .mt13 {
    margin-top: 130px;
  }

  .mb {
    margin-bottom: 8px;
  }

  .mb1 {
    margin-bottom: 10px;
  }

  .mb2 {
    margin-bottom: 20px;
  }

  .ml {
    margin-left: 5px;
  }

  .ml1 {
    margin-left: 10px;
  }

  .ml2 {
    margin-left: 20px;
  }

  .ml4 {
    margin-left: 40px;
  }

  .mr {
    margin-right: 5px;
  }

  .mr1 {
    margin-right: 10px;
  }
  .mr16 {
    margin-right: 16px;
  }

  .mr2 {
    margin-right: 20px;
  }

  .mr3 {
    margin-right: 30px;
  }
  .mr48{
    margin-right: 48px;
  }

  .mr5 {
    margin-right: 50px;
  }

  .mb3 {
    margin-bottom: 30px;
  }
  .mb36 {
    margin-bottom: 36px;
  }

  .mb4 {
    margin-bottom: 40px;
  }

  .mr-14 {
    margin-right: 14px !important;
  }

  .bdrh {
    border-radius: 50%;
  }

  .line20 {
    line-height: 20px;
  }
  .line22 {
      line-height: 22px;
    }

  .line30 {
    line-height: 30px;
  }

  .line35 {
    line-height: 35px;
  }

  .line60 {
    line-height: 60px;
  }

  .vTop {
    vertical-align: top;
  }

  .middle {
    vertical-align: middle;
  }

  .bdt {
    border-top: 1px solid #ECECEC
  }

  .bdr {
    border-right: 1px solid #ECECEC
  }

  .bd {
    border: 1px solid #ECECEC
  }

  .bdb {
    border-bottom: 1px solid #ECECEC
  }

  .wth100 {
    width: 100%
  }

  .disb {
    display: block !important;
  }

  .disib {
    display: inline-block;
  }

  .disflex {
    display: flex;
  }

  .f-column {
    flex-direction: column;
  }

  .f-shrink {
    flex-shrink: 0;
  }

  .al-end {
    align-items: end;
  }

  .f-wrap {
    flex-wrap: wrap;
  }

  .flex-1 {
    flex: 1;
  }

  .al-center {
    align-items: center;
  }

  .over-x-auto {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .over-y-auto {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .beyond {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }

  .beyon2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /*--------------------------------公共元素样式------------------------------------*/
  .num-scroll {
    font-size: inherit;
    color: inherit;
  }

  .row {
    margin: 0 !important;
  }

  .w-e-text.headlines-content {
    padding: 0;

    p {
      margin-bottom: 0;
      line-height: 1.3;
    }
  }

  .w-e-text-container.headlines-content {
    height: auto !important;
  }

  // 立即试用按钮
  .try-out-bt {
    @extend .base-bg;
    @extend .colf;
    box-shadow: none !important;

    .v-btn__content {
      @extend .tran-300ms;
      @extend .font16;
      height: 100%;
      line-height: 100%;
    }
  }

  @media screen and (max-width: $big-pc-width) {
    .try-out-bt {
      .v-btn__content {
        font-size: 14px !important;
      }
    }
  }

  @media screen and (max-width: $pad-max-width) {
    .try-out-bt {
      height: 36px !important;
      line-height: 36px !important;

      &:hover {
        background: none;
      }

      .v-btn__content {
        font-size: 14px !important;
      }
    }
  }

  .close-bt {
    @extend .p-absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  .el-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .el-show {
    opacity: 1;
    pointer-events: inherit;
  }

  .base-bg {
    @extend .tran-300ms;
    background: #09236c !important;

    &:hover {
      background: #09236c !important;
    }
  }

  /*--------------------------------动画------------------------------------*/

  /*上下悬浮动画*/
  .shake-vertical {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation: hu__hu__ infinite 2s ease-in-out;
  }

  @keyframes hu__hu__ {
    50% {
      transform: translateY(30px)
    }
  }

  /*左右摆动动画*/
  .wobble-hor-bottom {
    animation-duration: 3s;
    animation-name: pepe;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: infinite
  }

  @keyframes pepe {
    0% {
    }
    10% {
    }
    20% {
    }
    30% {
    }

   55%, 65%, 75%, 85%{
      transform: rotate(4deg)
    }
   50%, 60%, 70%, 80%, 90% {
       transform: rotate(-4deg)
    }

     95%, 100% {
       transform: rotate(0);
     }
  }

  /*渐渐缓入*/

  @keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
      transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
      opacity: 1
    }
  }

  .slide-in-fwd-left {
    animation: slide-in-fwd-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms both;
  }

  /*放大进入 https://animista.net/play/text/tracking-in/tracking-in-contract-bck-bottom*/
  @keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  .tracking-in-contract-bck-bottom {
    animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 300ms both;
  }

  @keyframes hvr-wobble-horizontal {
    0% {
    }
    10% {
    }
    20% {
    }
    30% {
    }
    40% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    60% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    70% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    80% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    90% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    &:hover, &:focus, &:active, &.continue {
      -webkit-animation-name: hvr-wobble-horizontal;
      animation-name: hvr-wobble-horizontal;
      -webkit-animation-duration: 3.5s;
      animation-duration: 3.5s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

    &.continue {
      animation-iteration-count: infinite !important;
    }
  }

  /* Bounce In */
  .hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

