@font-face {
  font-family: 'Great Vibes';
  font-display: swap;
  src: url("../fonts/baloo2.ttf");
}
//local("Great Vibes")
//,

/*

@font-face {
  font-family: '思源黑体 CN Regular';
  font-display: swap;
  src: local("思源黑体 CN Regular")
  , url("../fonts/SourceHanSansCN-Regular.otf");
}
@font-face {
  font-family: '思源黑体 CN Medium';
  font-display: swap;
  src:  local("思源黑体 CN Medium")
  , url("../fonts/SourceHanSansCN-Medium.otf");
}

@font-face {
  font-family: '优设标题黑';
  font-display: swap;
  src:  local("优设标题黑")
  , url("../fonts/YouSheBiaoTiHei.ttf");
}
*/
