@font-face {
  font-family: 'baloo2';
  font-display: swap;
  src: url("../fonts/baloo2.ttf");
}
body {
  font-family: 'baloo2' !important;
}
.v-application{
  font-family: 'baloo2' !important;
}
.v-application .title{
  font-family: 'baloo2' !important;
}

